---
---
<div class="prose-group"><slot /></div>

<style is:global>
  .prose-group {
    display: flex;
    flex-direction: column;
    gap: var(--prose-gap, var(--space-3));
    grid-column: 2 / 10;
  }

  /* p sizing based on preceding heading level */
  .prose-group > h1 + p {
    font-weight: var(--prose-lede-weight, var(--font-weight-regular));
    font-size: var(--prose-lede-size, var(--text-300));
    line-height: var(--line-height-normal);
  }

  .prose-group > h2 + p {
    font-size: var(--h2-follow-size, var(--text-200));
  }

  .prose-group > h3 + p {
    font-size: var(--h3-follow-size, var(--text-200));
  }
</style>
